<div class="search">
    <i class="icon icon-action-grey600 icon-action-grey600-ic_search_grey600_24dp"></i>
    <input id="autoComplete" disabled="disabled" data-bind="textInput : suggestComplete" >
    <input id="search" list="suggestions" type="text" data-bind="textInput: filter, event: { keydown : autoComplete }">
    <datalist id="suggestions" data-bind="foreach: filteredGuides()">
        <option data-bind="value: $data.title"></option>
    </datalist>
</div>

<div class="savedGuides" data-bind="foreach: filteredGuides()">
    <!-- $data is an instance of Guide -->
   <div class= "savedGuide" data-bind="click: $data.jumpTo">
    <h3 data-bind="text: $data.title"></h3>
    <div class="guideControl">
        <i class="icon icon-action-grey600 icon-action-grey600-ic_language_grey600_24dp " data-bind="click: function(vm){ window.open(vm.url())} ,clickBubble: false"></i>
        <i class="icon icon-action-grey600 icon-action-grey600-ic_delete_grey600_24dp"data-bind="click: $data.deleteGuide ,clickBubble: false"></i>
    </div>
    <p class="guideIntro" data-bind="html : $data.model.extract"></p>

</div>